.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 28.8vw;
  width: 100%;
}

@media only screen and (max-width: 1200px){
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 41.5vw;
    width: 100%;
  }

}